body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #40514e;
  line-height: 1.5;
}

a {
  color: #11999e;
  text-decoration: none;
}

hr {
  border-top: #eaf6f6 8px dotted;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin-top: 50px;
}

.profile {
  width: 40%;
  margin: 0 auto;
}

.profile h2 {
  margin-bottom: 1.5em;
}

.profile-picture {
  width: 150px;
}

.skills {
  width: 50%;
  margin: auto;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  display: flex;
}

.programming-img,
.hot-wings-img {
  width: 25%;
}

.programming-img {
  margin-right: 30px;
}

.hot-wings-img {
  margin-left: 30px;
}

.contact-me {
  width: 50%;
  margin: 80px auto;
}

.contact-me h3 {
  margin: 50px auto;
}

.contact-me p {
  margin-bottom: 50px;
}

.btn {
  background-color: #66bfbf;
  padding: 10px 30px;
  color: white;
  border-radius: 5%;
  font-family: 'Montserrat', sans-serif;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0;
}

.footer-links {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 40px auto;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  margin-top: 30px;
}
